{% extends 'base.html' %}
{% block content %}
    <div class="card" style="width: 18rem;">
    <div class="card-header">
    <strong>ID: </strong>{{ firstaidkit_record.id_firstaidkit }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Название лекарства: </strong>{{ firstaidkit_record.id_medicine.medicine_name }}</li>
        <li class="list-group-item"><strong>Срок годности: </strong>{{ firstaidkit_record.expiration_date }}</li>
    </ul>
    </div>
    <br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
    <a href="{% url 'home' %}" class="btn btn-warning">Отредактировать</a>
    <a href="{% url 'delete_firstaidkit_record' firstaidkit_record.id_firstaidkit %}" class="btn btn-danger">Удалить</a>
{% endblock %}